.main {

  .main-section-projects {
    padding: 1em;

    .projects-title {
      text-align: center;
      font-size: 2em;
      margin-bottom: 1em;
    } 
    

    .projects-highlight {

      .projects-highlight-preview {
        width: 15em;
        display: block;
        margin: 0 auto 1em auto;
        border-radius: 5px;
      }

      .projects-highlight-description {
        margin-bottom: 1em;

        .projects-highlight-description-title {
          text-align: center;
          font-size: 1.5em;
          margin-bottom: 1em;
        }

        .projects-highlight-description-subtitle {
          margin: 0.5em 0;
          font-style: italic;
        }

        .projects-highlight-description-single {
          margin: 0.5em 0;
        }

        .projects-highlight-description-list {
          list-style: disc;

          .projects-highlight-description-list-item {
            margin: 0.5em 0 0.5em 1em;
          }
        }
      }

      .projects-highlight-video {
        width: 15em;
        display: block;
        margin: 0 auto;
      }
    }


    .projects-list-container {
      margin-top: 1em;
      

      .projects-list {
        display: flex;
        flex-wrap: wrap;

        .projects-list-item {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1em;

          .projects-list-item-title {
            font-style: italic;
          }

          .projects-list-item-preview {
            width: 8em;
            border-radius: 5px;
            margin-bottom: 0.5em;
          }

          .projects-list-item-link {
            font-style: italic;
            text-decoration: underline;
            color: rgba(255,255,255,50%);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {

  .main {

    .main-section-projects {
      
      .projects-container {
        display: flex;
        justify-content: space-between;

        .projects-highlight {
          width: 55%;
        }

        .projects-list-container {
          margin: 0;
          width: 40%;

          .projects-list {
            display: flex;
            justify-content: space-around;

            .projects-list-item {
              width: 45%;
            }
          }
        }
      }
    }
  }
}
