.main {

  .main-section-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    min-height: 100vh;

    .home-description {
      margin-bottom: 2em;
      width: 100%;

      .home-title {
        font-size: 22.5px;
        margin-bottom: 0.125em;
        font-weight: bold;
        text-shadow: 0.2em 0.2em 0.2em black;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        --text-divider-gap: 1rem;

        &::before, &::after {
          content: '';
          height: 1px;
          background-color: silver;
          flex-grow: 1;
        }

        &::before {
          margin-right: var(--text-divider-gap);
        }

        &::after {
          margin-left: var(--text-divider-gap);
        }
      }

      .home-subtitle {
        text-align: center;
        font-size: 17.5px;
        text-shadow: 0.2em 0.2em 0.2em black;
      }

      .home-paragraph {
        text-align: center;
        font-size: 15px;
        text-shadow: 0.2em 0.2em 0.2em black;
      }
    }

    .home-first-container {

      .home-second-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .home-avatar {
          border-radius: 50em;
          border: 3px solid lightgrey;
          width: 15em;
          box-shadow: 0.5em 0.5em 1.5em black;
        }
    
        .home-data {
          text-shadow: 0.2em 0.2em 0.2em black;
    
          .home-data-single {
            display: flex;
            align-items: center;
            margin: 1em 0;
    
            .home-data-single-logo {
              margin-right: 1em;
              display: block;
              width: 1em;
              text-align: center;
            }
    
            .home-data-single-description {
    
            }
          }
        }
      }

      .home-presentation {
        padding: 1em;
        margin-top: 2em;
  
        .home-presentation-single {
          margin: 0.5em 0;
        }
      }
    }
  }

}

@media screen and (min-width: 768px) {

  .main {

    .main-section {
    }

    .main-section-home {

      .home-description {
        .home-title {
          font-size: 40px;
          --text-divider-gap: 2rem;
        }

        .home-subtitle {
          font-size: 22.5px;
        }

        .home-paragraph {
          font-size: 17.5px;
        }
      }

      .home-first-container {
        display: flex;
        align-items: center;

        .home-second-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 50%;
        }

        .home-presentation {
          width: 50%;
          margin: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {

  .main {
    .main-section-home {
      .home-description {
        .home-title {
          font-size: 55px;
          --text-divider-gap: 2.5rem;
        }

        .home-subtitle {
          font-size: 25px;
        }

        .home-paragraph {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {

  .main {
    .main-section-home {
      .home-description {
        .home-title {
          font-size: 65px;
          --text-divider-gap: 3rem;
        }

        .home-subtitle {
          font-size: 30px;
        }

        .home-paragraph {
          font-size: 25px;
        }
      }
    }
  }
}
