.main {

  .main-section-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;

    .home-description {
      margin-bottom: 2em;

      .home-title {
        font-size: 60px;
        text-align: center;
        margin: 0.5em 0;
        font-weight: bold;
        text-shadow: 0.2em 0.2em 0.2em black;
      }

      .home-subtitle {
        text-align: center;
        font-size: 22.5px;
        text-shadow: 0.2em 0.2em 0.2em black;
      }

      .home-paragraph {
        text-align: center;
        font-size: 20px;
        text-shadow: 0.2em 0.2em 0.2em black;
      }
    }

    .home-first-container {

      .home-second-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .home-avatar {
          border-radius: 50em;
          border: 3px solid lightgrey;
          width: 15em;
          box-shadow: 0.5em 0.5em 1.5em black;
        }
    
        .home-data {
          text-shadow: 0.2em 0.2em 0.2em black;
    
          .home-data-single {
            display: flex;
            align-items: center;
            margin: 1em 0;
    
            .home-data-single-logo {
              margin-right: 1em;
              display: block;
              width: 1em;
              text-align: center;
            }
    
            .home-data-single-description {
    
            }
          }
        }
      }

      .home-presentation {
        padding: 1em;
        margin-top: 2em;
  
        .home-presentation-single {
          margin: 0.5em 0;
        }
      }
    }
  }

}

@media screen and (min-width: 768px) {

  .main {

    .main-section {
    }

    .main-section-home {

      .home-first-container {
        display: flex;
        align-items: center;

        .home-second-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 50%;
        }

        .home-presentation {
          width: 50%;
          margin: auto;
        }
      }
    }
  }
}

@media screen and (width: 1024px) {

  
}
