.main {
  z-index: 1;
  padding: 0 0.5em;

  .main-section {
    background-color: transparent;
    padding: 4em 0;
    min-height: 100vh;
  }
}

@media screen and (min-width: 768px) {

  .main {

    .main-section {
      padding: 4em 2.5em;
    }
  }
}

@media screen and (min-width: 1024px) {

  .main {

    .main-section {
      padding: 4em 8em;
    }
  }
}

@media screen and (min-width: 1440px) {

  .main {

    .main-section {
      padding: 4em 15em;
    }
  }
}
