.main-section-career {
  padding: 1em;

  .career-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    text-shadow: 0.2em 0.2em 0.2em black;
    font-weight: bold;
  }

  .career-oclock {
    margin-bottom: 3em;

    .career-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1em 0;
  
      .career-logo-img {
        width: 10em;
      }
  
      .career-logo-title {
        text-align: center;
        font-size: 1.25em;
      }
    }
  
    .career-description {
      margin-bottom: 1em;
  
      .career-description-title {
        font-weight: bold;
        margin: 0.5em 0;
      }
  
      .career-description-subtitle {
  
      }
  
      .career-description-single {
  
      }
    }
  }

  .career-opquast {

    .career-description-badge {
      display: block;
      width: 10em;
      margin: 1em auto;
      
    }

    .career-logo-title {
      display: block;
      text-align: center;
      font-size: 1.25em;
      margin-bottom: 0.5em;
    }

    .career-description-title {
      font-weight: bold;
      margin: 0.5em 0;
    }

    .career-description-subtitle {

    }

    .career-description-single {

    }

    .career-description-result {
      font-style: italic;
      margin-top: 0.5em;
    }
  }
}

@media screen and (min-width: 768px) {

  .main {

    .main-section-career {
      
      .career-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .career-oclock {
          width: 47.5%;
          margin: 0;
        }

        .career-opquast {
          width: 47.5%;
          margin: 0;
        }
      }
    }
  }
}
